:root {
  --container-width: 1360px;
  --container-padding: 40px;

  --font-main: 'Forma DJR Micro', sans-serif;
  --font-accent: 'Manrope', sans-serif;
  --font-titles: var(--font-accent);

  --page-bg: #1F5D46;
  --text-color: #000;
  --accent: #9DDC21;
  --link-color: #fff;
  --button-color: #0b0b0b;
  --secondary-text-color: #0b0b0b;
  --light-grey-text: #5e5e5e;
  --secondary-bg-color: #f9fcfb;
  --input-bg-color: #f7f9fa;
  --placeholder-color:#8d8d8d;


  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}